<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="SubscriptionKey" value="c2403d7bb2af4bfbbd93b260e91200d5"/>
    <add key="URIBase" value="https://eastasia.api.cognitive.microsoft.com/vision/v2.0/ocr"/>
    <add key="lunchMenuUri" value="http://www.chirec.ac.in/images/LunchMenu/lunchMenu.jpg"/>
  </appSettings>
</configuration>